/* Utilities */
$pri-clr: #9356DC;
$sec-clr: #FF79DA;
$ter-clr: #99E2D0;
$grey-cont-clr: #eaeaea;

body{
    animation: stopScroll ease 0s;
}

.card-uni{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0 15px 0;
    box-shadow: 0 7px 10px rgb(0 0 0 / 15%);
    color: black;
    opacity: 0;
    position: relative;
    animation: cardFade ease 2s forwards;
    overflow: hidden;
    .card-title{
        font-weight: bold;
        padding-bottom: 5px;
        font-size: 15px;
    }
    .d-p-flex{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        .card-desc{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }
        .card-price{
            font-weight: bold;
            font-size: 14px;
        }
    }
    .anim-card-validate{
        position: absolute;
        top: 0;
        right: -60px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: $ter-clr;
        width: 60px;
        font-size: 20px;
        transition: all ease 0.3s;
        i{
            transition: all ease 0.6s;
        }
    }
    .card-uni-content{
        transition: all ease 0.3s;
        width: 100%;
    }
}

@for $i from 1 through 4 {
    .section-cont>a:nth-of-type(#{$i}n)>.card-uni {
        animation-delay: #{$i * 0.3}s;
    }
}
@keyframes cardFade{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.flex-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    position: relative;
    .back-index{
        width: 45px;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
.rest-top-img{
    background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    height: 180px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Titre Restaurant & like */
.pages-container{
    background-color: $grey-cont-clr;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border-radius: 40px 40px 0 0;
    margin-top: -30px;
    a{
        text-decoration: none;
    }
}
.ttl-like{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
    i{
        font-size: 20px;
    }
}
.section-cont{
    margin: 10px;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
    }
    a:hover, a:focus{
        .anim-card-validate{
            right: 0;
            i{
                transform: rotate(360deg);
            }
        }
        .card-uni-content{
            width: calc(100% - 60px);
        }
    }
}
.separator-title{
    border: #99E2D0 2px solid;
    max-width: 40px;
    margin-top: 5px;
}